SERVERCHAN_SENDKEY=SCTxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RISE_URL=https://sunsetbot.top/?query_id=1346966&intend=select_city&query_city=%E9%87%8D%E5%BA%86%E5%B8%82-%E9%87%8D%E5%BA%86&event_date=None&event=rise_2&times=None&model=GFS
SET_URL=https://sunsetbot.top/?query_id=6781199&intend=select_city&query_city=%E9%87%8D%E5%BA%86%E5%B8%82-%E9%87%8D%E5%BA%86&event_date=None&event=set_2&times=None&model=GFS
OPEN_URL=https://sunsetbot.top/map/
PUSH_CITY=重庆
PUSH_EVENT=火烧云
